@model List<DataAccess.Data.Entities.Cars>;

<div class="container">
    <h1>Used cars</h1>
    <p>Offers for the sale of cars</p>
    <div>
        @foreach(var i in Model)
        {
            <div class="d-flex flex-row w-50 gap-3">
                <a asp-controller="Home" asp-action="Show" asp-route-id="@i.Id" asp-area="" class="w-50"><img class="w-100" src="@i.ImageUrl" alt="Car"></a>
                <div>
                    <h5>@i.Brand @i.Model @i.Year</h5>
                    <p>@i.Price $</p>
                    <div>
                        <p>@i.Engine</p>
                        <p>@i.City</p>
                        <p>@i.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
