@model List<DataAccess.Data.Entities.Cars>;

<div class="container">
    <h1>Used cars</h1>
    <p>Offers for the sale of cars</p>
    <div class="mb-5">
        <a asp-controller="Car" asp-action="Create" class="btn btn-success">Sell Your Car</a>
    </div>  
    <div class="d-flex flex-row gap-5">
        @foreach(var i in Model)
        {
            <div class="d-flex flex-row w-50 gap-3 justify-content-between shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <a asp-controller="Home" asp-action="Show" asp-route-id="@i.Id" asp-area=""><img style="width: 250px" src="@i.ImageUrl" alt="Car"></a>
                <div>
                    <h5>@i.Brand @i.Model @i.Year</h5>
                    <p>@i.Price $</p>
                    <div>
                        <p>@i.Engine</p>
                        <p>@i.City</p>
                        <p>@i.Description</p>
                    </div>
                    <a asp-controller="Favorites" asp-action="Add" asp-route-id="@i.Id" asp-area="" class="btn btn-info">Add to Favorites</a>
                </div>
            </div>
        }
    </div>
</div>
